$geography: #eb9532;
$sport: #2c82c9;
$music: #a96dad;
$random: #736598;
$entertainment: #d64541;
$animalsAndNature: #89c4f4;
$games: #ffff7e;

$rajnd: #26a65b;
$rajndActive: #40dd82;

$wordgame: #d91e18;
$wordgameActive: #bd3935;